@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Cormorant+Unicase|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded|Cormorant+Unicase|Indie+Flower|Teko');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: url('https://images.unsplash.com/photo-1535406208535-1429839cfd13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
  background-size: cover;
}

.front-header {
  color: rgb(255, 187, 0);
  text-align: center;
  font-size: 6rem;
  text-shadow: 2px 2px rgb(0, 0, 100);
  font-family: 'Indie Flower', cursive;
  margin: 30px;
  text-decoration: overline;
}

#profile-container {
  height: 250px;
  width: 167px;
}

#profile-pic {
  display: flex;
  flex: 1;

  border-radius: 10px;
  margin-left: 30px;
}

#profile-pic :hover {
  background-color: yellow;
}

p {
  color: rgb(255, 0, 200);
  width: fit-content;
}
